<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Smell of the Songs</title>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/p5@0.10.2/lib/p5.min.js"></script>
	<script src="//jdataview.github.io/dist/jdataview.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/p5@0.10.2/lib/addons/p5.sound.min.js"></script>
	<script type="text/javascript" src="/static/js/sketch.js"></script>
	<style>
		body {
			margin:0;
			padding:0;
			overflow: hidden;
			display: flex;
            /* This centers our sketch horizontally. */
            justify-content: center;
            /* This centers our sketch vertically. */
            align-items: center;
		}
		canvas {
			margin:auto;
		}
		img {
			position: absolute;
			bottom: 0;
			right: 0;
			display: none;
		}
	</style>
</head>
<body>
<img height= "300" width= "300" id="ret" src="" />
</body>
</html>