<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Smell of the Songs</title>
    <link rel="stylesheet" href="/static/css/radio.css">
    <link rel='stylesheet' href='/static/css/lightgallery.css'>
    <link rel="stylesheet" href="/static/css/gallery.css">
    <link rel="stylesheet" href="/static/css/loader.css">
    <link rel="stylesheet" href="/static/css/toggle.css">
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/p5@0.10.2/lib/p5.min.js"></script>
	<script src="//jdataview.github.io/dist/jdataview.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/p5@0.10.2/lib/addons/p5.sound.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="/static/js/sketch.js"></script>
	<script type="text/javascript">
		var limit = 699;          
		if(window.innerWidth <= limit){
		  document.location = "/mobile";
		}
		if (screen.width <= limit) {
		  document.location = "/mobile";
		}
		if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
		  document.location = "/mobile";
		}
	</script>

	<style>
		html, body {
			margin:0;
			padding:0;
            height: 100%;
            width: 100%;
			overflow: hidden;
			display: flex;
            /* This centers our sketch horizontally. */
            justify-content: center;
            /* This centers our sketch vertically. */
            align-items: center;
		}
		canvas {
			margin: auto;
		}
		.picker {
			position: absolute;
			top: 30px;
			right: 0px;
		}
		.cont {
			position: absolute;
			bottom: 10px;
			right: 10px;
		}
		.loader-text {
			position: absolute;
			bottom: 25%;
		}
		#p5_loading {
            background: rgba(249, 251, 255,0.6);
            color: #ADAFB6;
            padding: 20px;
            box-sizing: border-box;
            display: flex;
            height: 100%;
            width: 100%;
            overflow: hidden;
            min-height: 100vh;
		    font-family: Roboto, Arial;
		    justify-content: center;
		    align-items: center;
        }
	</style>
</head>
<body>

<!-- https://github.com/processing/p5.js/wiki/p5.js-overview#loading-screen -->
<div id="p5_loading" class="loadingclass">
<div class="boxes">
    <div class="box">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="box">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="box">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="box">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<div class="loader-text">LOADING THE PLAYGROUND ...</div>
</div>

<div id="dashboard" class="dashboard" style="display: none;">

 <div class="picker">
	<input type="radio" name="color" id="red" value="{ 'p':'#C92B68','s':'#F74F70','t':'#FF939B','q':'#A61458' }" />
	<label for="red"><span class="red"></span></label>

	<input type="radio" name="color" id="green" value="{ 'p':'#21ba45','s':'#4dc86a','t':'#7ad68f','q':'#a6e3b5' }" />
	<label for="green"><span class="green"></span></label>

	<input type="radio" name="color" id="yellow" value="{ 'p':'#fbbd08','s':'#e2aa07','t':'#fdd76b','q':'#feebb5' }" />
	<label for="yellow"><span class="yellow"></span></label>

	<!--
	<input type="radio" name="color" id="olive" />
	<label for="olive"><span class="olive"></span></label>

	<input type="radio" name="color" id="orange" />
	<label for="orange"><span class="orange"></span></label>


	<input type="radio" name="color" id="teal" />
	<label for="teal"><span class="teal"></span></label>
	-->
	<input type="radio" name="color" id="blue" value="{ 'p':'#2185d0','s':'#4d9dd9','t':'#7ab6e3','q':'#a6ceec' }" />
	<label for="blue"><span class="blue"></span></label>

	<!-- <input type="radio" name="color" id="violet" />
	<label for="violet"><span class="violet"></span></label>
	 -->
	<input type="radio" name="color" id="purple" value="{ 'p':'#72248c','s':'#a333c8','t':'#b55cd3','q':'#c885de' }" />
	<label for="purple"><span class="purple"></span></label>

	<!-- <input type="radio" name="color" id="pink" />
	<label for="pink"><span class="pink"></span></label> -->
 </div>

 <div class="cont">
	<div class="lgallery">
     <ul id="lightgallery">
      <li style="display: none;" id= "ret-li" data-src=""
      data-sub-html="">
        <a href="">
          <img id="ret-img" class="img-responsive" src="">
          <div class="lgallery-poster">
            <img src="/static/img/zoom.png">
          </div>
        </a>
      </li>
     </ul>
     <span id="imsg" style="display: none;" class="small">Click on the thumbnail to view all generated viz.</span>
    </div>
 </div>

<div class="parent">
  <div class="toggler3way">
    <div id="axisAx" class="switcher Xaxis" onclick="change_axisA('Ax')">X</div>
    <div id="axisAy" class="switcher Yaxis" onclick="change_axisA('Ay')">Y</div>
    <div id="axisAz" class="switcher Zaxis" onclick="change_axisA('Az')">Z</div>
     <div id="selectorA" class="selector"></div>
  </div>
  <br><br>
  <div class="toggler3way">
    <div id="axisBx" class="switcher Xaxis" onclick="change_axisB('Bx')">X</div>
    <div id="axisBy" class="switcher Yaxis" onclick="change_axisB('By')">Y</div>
    <div id="axisBz" class="switcher Zaxis" onclick="change_axisB('Bz')">Z</div>
     <div id="selectorB" class="selector"></div>
  </div>
</div>


</div>

<script src="https://raw.githubusercontent.com/aadsm/JavaScript-ID3-Reader/master/dist/id3-minimized.js"></script>
<script src='/static/js/lightgallery.js'></script>
<script src='/static/js/lg-pager.js'></script>
<script src='/static/js/lg-autoplay.js'></script>
<script src='/static/js/lg-share.js'></script>
<script src='/static/js/lg-fullscreen.js'></script>
<script src='/static/js/lg-zoom.js'></script>
<script src='/static/js/lg-hash.js'></script>
<script src='/static/js/picturefill.min.js'></script>

<script type="text/javascript">
	// INIT GALLERY
	lightGallery(document.getElementById('lightgallery'))

	$('input[type="radio"]').on('change', function(e) {
 		  setColor(e.target.value); // color change subroutine
	});


	// 3-way toggler for axisA
	function change_axisA(axis){
	  var axisAx = document.getElementById("axisAx");
	  var axisAy = document.getElementById("axisAy");
	  var axisAy = document.getElementById("axisAz");
	  var selector = document.getElementById("selectorA");
	  if (axis === "Ax"){
	    selector.style.left = 0;
	    selector.style.width = axisAx.clientWidth + "px";
	    selector.style.backgroundColor = "#777777";
	    selector.innerHTML = "X";
	    axisA = "X" // setting the axis
	  }else if (axis === "Ay"){
	    selector.style.left = axisAx.clientWidth + "px";
	    selector.style.width = axisAy.clientWidth + "px";
	    selector.innerHTML = "Y";
	    selector.style.backgroundColor = "#418d92";
	    axisA = "Y" // setting the axis
	  } else {
	    selector.style.left = axisAx.clientWidth + axisAy.clientWidth + 1 + "px";
	    selector.style.width = axisAy.clientWidth + "px";
	    selector.innerHTML = "Z";
	    selector.style.backgroundColor = "#4d7ea9";
	    axisA = "Z" // setting the axis
	  }
	}

	// 3-way toggler for axisB
	function change_axisB(axis){
	  var axisBx = document.getElementById("axisBx");
	  var axisBy = document.getElementById("axisBy");
	  var axisBy = document.getElementById("axisBz");
	  var selector = document.getElementById("selectorB");
	  if (axis === "Bx"){
	    selector.style.left = 0;
	    selector.style.width = axisBx.clientWidth + "px";
	    selector.style.backgroundColor = "#777777";
	    selector.innerHTML = "X";
	    axisB = "X" // setting the axis
	  }else if (axis === "By"){
	    selector.style.left = axisBx.clientWidth + "px";
	    selector.style.width = axisBy.clientWidth + "px";
	    selector.innerHTML = "Y";
	    selector.style.backgroundColor = "#418d92";
	    axisB = "Y" // setting the axis
	  } else {
	    selector.style.left = axisBx.clientWidth + axisBy.clientWidth + 1 + "px";
	    selector.style.width = axisBy.clientWidth + "px";
	    selector.innerHTML = "Z";
	    selector.style.backgroundColor = "#4d7ea9";
	    axisB = "Z" // setting the axis
	  }
	}
</script>

</body>
</html>